<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.global.kimilguk">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" /> <!-- 앱에서 인터넷을 사용하기 위한 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 앱에서 카메라장치를 사용하기 위한 퍼미션 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- 앱에서 진동을 감지하기 위한 퍼미션 -->
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" /> <!-- SD카드=스토리지 접근 권한 추가 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kimilguk"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PushActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GpsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ProviderActivity"
            android:exported="true"></activity>
        <!--
 카메라 앱 사용시간에 캡쳐한 내용을 바로 불러올때 사용하게됨.
        프로바이더 등록, xml폴더에 external.xml 파일 생성
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.global.kimilguk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external" />
        </provider>

        <activity
            android:name=".DatabaseActivity"
            android:exported="true" />
        <activity
            android:name=".HttpActivity"
            android:exported="true" />
        <activity
            android:name=".SocketActivity"
            android:exported="true" />
        <activity
            android:name=".ThreadActivity"
            android:exported="true" />
        <activity
            android:name=".SpinnerViewActivity"
            android:exported="true" />
        <activity
            android:name=".RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".ReceiverActivity"
            android:exported="true" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- 리시버가 여러개 일때 -->
            <intent-filter>
                <action android:name="shake.detector" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ServiceActivity"
            android:exported="true" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".AnimationActivity"
            android:exported="true" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".ViewPagerActivity"
            android:exported="true" />
        <activity
            android:name=".BottomMenuActivity"
            android:exported="true" />
        <activity
            android:name=".TopMenuActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".FragmentActivity"
            android:exported="true" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LifeCycleActivity"
            android:exported="true" />
        <activity
            android:name=".DialogActivity"
            android:exported="true" />
        <activity
            android:name=".EventActivity"
            android:exported="true" />
        <activity
            android:name=".ScrollViewActivity"
            android:exported="true" />
        <activity
            android:name=".FrameLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".TableLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".RelativeLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".LinearLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>